$default-line-height: 1.5;

$imageUrl: "/images/";

// Colors
$red: #c0392b;
$white: #fff;
$green: #27ae60;
$concrete: #95a5a6;
$grey: #545454;
$orange: #f88746;
$blue: #199bda;
$light-blue: #3498db;
$dark-blue: #2C4672;
$navy: #1C2A47;
$purple: #5733A4;
$grey-blue: #647696;
$light-grey: #bdc3c7;
$lighter-grey: #c5c8ce;
$lightest-grey: #E0E0E0;
$medium-grey: #9698A3;
$dark-grey: #444;
$dark-red: #A42222;
$pink: #FF5997;
$black: #333;
$black-black: #000;
$yellow: #f1c40f;
$turquoise: #1abc9c;

$color-facebook:#2C629D;
$color-twitter:#009EBD;
$color-youtube:#E62117;
$color-instagram:#004879;

// -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; -webkit-box-shadow: 0 2px 26px rgba(0, 0, 0, .3), 0 0 0 0px rgba(0, 0, 0, .1); box-shadow: 0 2px 26px rgba(0, 0, 0, .3), 0 0 0 0px rgba(0, 0, 0, .1);
